<footer class="topnav">
  <div class="footer-copyright">
    <div class="container">
      Put some disclaimer here about the articles being scraped
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>