<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Mongo Scraper</title>
    <!-- link for Bootstrap styling -->
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">         --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- my link to css styling file style.css -->
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <!-- tab icon -->
  <link rel="shortcut icon" href="assets/img/news-icon.png" />
    <!-- scripts for jquery & Bootstrap -->
  <script src="https://code.jquery.com/jquery.js"></script>
  {{!-- <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>   --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
  {{> nav/navbar }}
    <main>
      <div class="container">
        {{{ body }}}  
      </div>
    </main>
  {{> footer }}
    
</body>
</html>