<nav>
  <div class="nav-wrapper topnav">
    <a href="/" class="brand-logo center">My Mongo Scraper</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape Now</a></li>
        <li><a href="#">My Git Repo</a></li>
      </ul>
  </div>
</nav>